# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

os:
- linux
- osx

r:
- release
- oldrelease
- devel

addons:
  apt:
    packages:
      - libssl1.0.0
